*{
    box-sizing: border-box;
}

/*Обнуление 9:49*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

button:hover {
    background-color: purple;
}
button:active {
    background-color: black;
    color: #fff;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    background: #fff;
}

header {
    background: #BEB7D8;
    padding: 13.5px 0;
}

.container {
    max-width: 1146px;
    margin: 0 auto;
    /* border: 1px solid #000;  */
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.content
{
    flex: 1 1 auto;
}


.footer {
    background-color: rgba(25, 24, 24, 0.168);
}
.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
    
}
.footer__text {
    color: darkslateblue;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.courser-info {
    display: flex;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    background: url("/images/laptop\ 1.png") bottom right no-repeat;
    align-items: center;
    height: 400px;
}

h1 {
    font-size: 36px;
    color: #006ab7;
    margin-bottom: 30px;
}
.courser-info p {
    font-size: 18px;
    margin: 10px;
}


.btn {
    background: #006ba7;
    font-size: 12px;
    color: #fff;
    border: none;
    width:160px;
    /* width: 180px; */
    padding: 13px 0;
    border-radius: 20px;
    margin-right: 30px;
}
.buttons {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 34px;
    padding-left: 30px;
}

.header__contact a {
    color: #383838;
    text-decoration: none; /* remove __ */
    font-size: 12px;
    margin-right: 25px;
    display: inline-flex;
    align-items: center;

}

.header__contact a:last-child {
    margin-right: 70px;
}

.header__button {
    background: #006ba7;
    font-size: 12px;
    color: #fff;
    border: none;
    /* width:160px; */
    width: 180px;
    padding: 13px 0;
    border-radius: 20px;
    margin-right: 30px;
    
}

.header__contact a img{
    margin-right: 5px;
    width: 16px;
    height: 16px;
} 


.info__text {
    display: flex;
    /* height: 390px; */
    flex-wrap: wrap;
    
    justify-content: space-around;
    align-items:flex-start;
    padding: 70px 0 60px;


}

.bg {
    background: #Beb7d8;
}

.row {
   width: 335px;
   font-size: 14px;
   margin-top: 10px;

}
.row b {
    margin-bottom: 5px;
}

.info__text .row p {
    margin-top: 5px;
    line-height: 18.63px;
    letter-spacing: 0.2px;

}


@media (max-width: 992px) {

    header {
        height: 150px;
        padding: 28px;
    }
    .logo {
        margin-bottom: 20px;
        padding-left: 0;
    }
    .header-info {
        flex-direction: column;
        
    }

    .header__button {
        margin-right: 0;
    }
}

@media (max-width: 767px) {

    header {
        height: 210px;
        padding: 30px;
    }
    .header__contact {
        display: flex;
        flex-direction: column; 
        align-items:center;
    }
    

    .header__button {
        margin-right: 0;
        margin: 12px 0 0 0;
    }
    .header__contact a{
        margin-bottom: 5px;
    }
    .header__button{
        margin-top: 12px;
    }
    .courser-info{
        height: 350px;
    }
    .courser-info h1{
        font-size: 25px;
        text-align: center;
    }
    .buttons{
        width: auto;
        flex-direction: column;
    }
    .buttons button{
        margin-bottom: 12px;
    }
    .education-info{
        padding: 20px 0;
    }
}